/*! important: the styles are compiled via the sass/style.scss file */

/* variables  (not shown in css) - or from style to real code! */
/* selected colors for this project */
$green: #1cc867;
$white: #fff;
$cta: pink;
$blue: #000;

/* nested syntax, how cool is that? */

/* mixins */ 

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
.box { @include transform(rotate(30deg));
    background-color:$blue;
    width: 50px;
    height: 37px;

}
#box2{
    @include transform(rotate(48(deg)))
    color: $blue;
    width: 50px;
    height: 80px;
    
}
/* scss samples */
body {
    background-color: $white;
    color: #00ff00;
}

/* nested syntax */
main {
    p {
        color: $green;
        background-color: $cta;
    }
    a{
        text-decoration: none;
    }
    a{
        color: $cta;
    }
}


